.RightsViewer .ViewHeader {
  width: 100%;
  padding: 0.5em;
  box-sizing:border-box;
  color:#333 !important;
  border-bottom: 1px solid black;
  background-color: #eee;
  font-size: 0.8em;
}

.RightsViewer .ViewHeader h1 {
	font-size: 1.5em;
}

.RightsViewer .ViewBody {
	padding:1em;
	box-sizing:border-box;
}

.SubView {
  width: 100%;
  box-sizing:border-box;
  color:#333 !important;
  border: 1px solid black;
  background-color: #fff;
  font-size: 0.8em;
  margin: 1em 0;
}